In [1]:
from Univarite1 import Univarite1       #First we upload the formula in .py அதுக்காக we take the .py filename and the class name. Then only we will process further.

In [2]:
obj=Univarite1()                           #Now we assign this class name to obj variable

In [11]:
import pandas as pd                  #வெறும் dataset run பண்ண error வருது so once again library class பண்றோம்
dataset=pd.read_csv("Placement.csv")  #dataset அ read பண்றன்

In [12]:
Quan,Qual=obj.QuanQual(dataset)   #Before function call பண்றதுக்கு முன்னாடி இந்த quan, qual variable assign பண்ணி அதுக்கு R.H.S தந்துட்டு call பண்ணறோம்.

Quan: ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
Qual: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [13]:
frq=obj.freqTable("mba_p",dataset)

In [14]:
frq

     Unique_Values  Frequency  Relative_Fre  Cumulative
0            56.70          3      1.395349    1.395349
1            61.29          2      0.930233    2.325581
2            64.08          2      0.930233    3.255814
3            66.94          2      0.930233    4.186047
4            60.44          2      0.930233    5.116279
..             ...        ...           ...         ...
200          74.56          1      0.465116   98.139535
201          73.52          1      0.465116   98.604651
202          52.81          1      0.465116   99.069767
203          56.81          1      0.465116   99.534884
204          55.50          1      0.465116  100.000000

[205 rows x 4 columns]

In [17]:
frq=obj.freqTable("ssc_b",dataset)
frc=obj.freqTable("salary",dataset)

In [20]:
frq

  Unique_Values  Frequency  Relative_Fre  Cumulative
0       Central        116     53.953488   53.953488
1        Others         99     46.046512  100.000000

In [19]:
frc

    Unique_Values  Frequency  Relative_Fre  Cumulative
0        300000.0         22     10.232558   10.232558
1        250000.0         18      8.372093   18.604651
2        240000.0         15      6.976744   25.581395
3        260000.0          7      3.255814   28.837209
4        265000.0          6      2.790698   31.627907
5        200000.0          6      2.790698   34.418605
6        360000.0          6      2.790698   37.209302
7        220000.0          5      2.325581   39.534884
8        275000.0          5      2.325581   41.860465
9        270000.0          4      1.860465   43.720930
10       210000.0          4      1.860465   45.581395
11       400000.0          4      1.860465   47.441860
12       350000.0          3      1.395349   48.837209
13       216000.0          3      1.395349   50.232558
14       500000.0          3      1.395349   51.627907
15       280000.0          2      0.930233   52.558140
16       236000.0          2      0.930233   53.488372
17       218000.0          2      0.930233   54.418605
18       252000.0          2      0.930233   55.348837
19       204000.0          2      0.930233   56.279070
20       230000.0          2      0.930233   57.209302
21       276000.0          2      0.930233   58.139535
22       231000.0          1      0.465116   58.604651
23       380000.0          1      0.465116   59.069767
24       411000.0          1      0.465116   59.534884
25       650000.0          1      0.465116   60.000000
26       393000.0          1      0.465116   60.465116
27       225000.0          1      0.465116   60.930233
28       336000.0          1      0.465116   61.395349
29       264000.0          1      0.465116   61.860465
30       278000.0          1      0.465116   62.325581
31       287000.0          1      0.465116   62.790698
32       940000.0          1      0.465116   63.255814
33       340000.0          1      0.465116   63.720930
34       285000.0          1      0.465116   64.186047
35       425000.0          1      0.465116   64.651163
36       290000.0          1      0.465116   65.116279
37       690000.0          1      0.465116   65.581395
38       233000.0          1      0.465116   66.046512
39       255000.0          1      0.465116   66.511628
40       295000.0          1      0.465116   66.976744
41       450000.0          1      0.465116   67.441860
42       268000.0          1      0.465116   67.906977
43       420000.0          1      0.465116   68.372093
44       320000.0          1      0.465116   68.837209

In [30]:
frq, frc

(  Unique_Values  Frequency  Relative_Fre  Cumulative
 0       Central        116     53.953488   53.953488
 1        Others         99     46.046512  100.000000,
     Unique_Values  Frequency  Relative_Fre  Cumulative
 0        300000.0         22     10.232558   10.232558
 1        250000.0         18      8.372093   18.604651
 2        240000.0         15      6.976744   25.581395
 3        260000.0          7      3.255814   28.837209
 4        265000.0          6      2.790698   31.627907
 5        200000.0          6      2.790698   34.418605
 6        360000.0          6      2.790698   37.209302
 7        220000.0          5      2.325581   39.534884
 8        275000.0          5      2.325581   41.860465
 9        270000.0          4      1.860465   43.720930
 10       210000.0          4      1.860465   45.581395
 11       400000.0          4      1.860465   47.441860
 12       350000.0          3      1.395349   48.837209
 13       216000.0          3      1.395349   50.232558
 14       500000.0          3      1.395349   51.627907
 15       280000.0          2      0.930233   52.558140
 16       236000.0          2      0.930233   53.488372
 17       218000.0          2      0.930233   54.418605
 18       252000.0          2      0.930233   55.348837
 19       204000.0          2      0.930233   56.279070
 20       230000.0          2      0.930233   57.209302
 21       276000.0          2      0.930233   58.139535
 22       231000.0          1      0.465116   58.604651
 23       380000.0          1      0.465116   59.069767
 24       411000.0          1      0.465116   59.534884
 25       650000.0          1      0.465116   60.000000
 26       393000.0          1      0.465116   60.465116
 27       225000.0          1      0.465116   60.930233
 28       336000.0          1      0.465116   61.395349
 29       264000.0          1      0.465116   61.860465
 30       278000.0          1      0.465116   62.325581
 31       287000.0          1      0.465116   62.790698
 32       940000.0          1      0.465116   63.255814
 33       340000.0          1      0.465116   63.720930
 34       285000.0          1      0.465116   64.186047
 35       425000.0          1      0.465116   64.651163
 36       290000.0          1      0.465116   65.116279
 37       690000.0          1      0.465116   65.581395
 38       233000.0          1      0.465116   66.046512
 39       255000.0          1      0.465116   66.511628
 40       295000.0          1      0.465116   66.976744
 41       450000.0          1      0.465116   67.441860
 42       268000.0          1      0.465116   67.906977
 43       420000.0          1      0.465116   68.372093
 44       320000.0          1      0.465116   68.837209)